
body {
	display: grid;
	grid-template-rows: 1fr 1.5fr 1fr;
	grid-template-columns: .5fr 550px .5fr;
	font-family: 'Courier New', Courier, monospace;
	height: 100vh;
	overflow: hidden;
}

button {
	padding: 5px 30px 5px 30px;
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
}

.results {
	grid-area: 2 / 2 / 2 / 2;
	justify-self: center;
	align-self: center;
	justify-content: center;
	margin-bottom: 200px;
}

.score {
	font-size: 50px;
}

#computer {
	display: flex;
	align-items: center;
	justify-content: center;
}

#player {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: -25px;
}

#button-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

#status {
	display: flex;
	align-items: center;
	justify-content: center;
}

#player-score, #computer-score {
	border: thick solid black;
	font-weight: bold;
}

#player-score {
	margin-left: 25px;
	padding: 5px;
}

#computer-score {
	margin-right: 25px;
	padding: 5px;
}

#paper {
	margin: 0px 10px 0px 10px;
	padding-left: 25px;
	padding-right: 25px;
}

#scissors {
	padding-left: 15px;
	padding-right: 15px;
}

#player, #computer {
	grid-area: 1 / 2 / 1 / 2;
	align-items: center;
	justify-content: center;
}

#player {
	padding-right: 175px;
}

#computer {
	padding-left: 175px;
}